/Java/rectangulo/nbproject/private/
/Java/rectangulo/build/
/Java/tablas de multiplicar/nbproject/private/
/Java/tablas de multiplicar/build/
/Java/Interfas/nbproject/private/
/Java/SuperMercadoProjectoFinal/target/
/Java/ProjectoFinalSupermercado/nbproject/private/
/Java/ProjectoFinalSupermercado/build/
/Java/Caso_simulado_1/nbproject/private/
/Java/Caso_simulado_1/build/
/Java/Sqlconection/target/
